.title{
  padding-left: 40px;
}

.title h1{
  font-family: "Prompt", sans-serif;
  font-size: 45px;
  color:#FF6D3F;
}

.box{
  width:1350px;
  height:500px;
  margin: 0 auto; 
  margin-top:40px;
  margin-bottom: 50px;
  display: flex;
}

.text_box{
  width:600px;
  padding-left:100px ;
  padding-top:100px;
}

.image_box{
  width:550px;
  padding-left: 70px;
  padding-top:10px;
}

.text_box .maker{
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  font-weight:600;
  color:#D1DCE5;
}

.text_box .explaination{
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 25px;
  font-weight:bold;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 40px;
}

.button{
  font-family: "IBM Plex Sans KR", sans-serif;
  background-color: #FF6D3F;
  color: white;
  border:none;
  text-align: center;
  border-radius: 3px;
  font-size: 18px;
  padding:10px 25px 10px 25px;
  font-weight: bold;
}



 