body {
  overflow-x: hidden;/* 가로 스크롤바 제거 */
}

.title{
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.title h1{
  font-family: "Prompt", sans-serif;
  font-size: 45px;
  color:#FF6D3F;
  margin-right: auto;
}

.title button {
  margin-left: 10px; /* 버튼 사이의 간격 설정 */
  font-family: "IBM Plex Sans KR", sans-serif;
  padding:7px 12px 7px 12px;
  font-weight: 600;
}

.btn1{
  color:#FF6D3F;
  background-color: white;
  border:none;
  font-size:19px;
}

.btn2{
  color:white;
  background-color: #FF6D3F;
  border:none;
  font-size:18px;
  border-radius: 10px;
}

.diary-form {
  max-width: 900px;
  height:780px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 10px;
  border:3px solid rgb(184, 183, 183);
  background-color: white;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size:20px;
}

input[type="date"], select, input[type="text"], textarea{
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px;
  border:none;
  box-sizing: border-box;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  background-color:  white;
}

#content {
  height: 400px;
  resize: vertical;
  line-height: 30px;
  box-sizing: border-box;
  padding: 10px;
}

.change_btn{
  padding:10px 10px 10px 10px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 18px;
  background-color:#FF6D3F;
  color:white;
  border: none;
  border-radius: 10px;
  float:right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.resultBox{
  max-width: 900px;
  border:3px solid rgb(184, 183, 183);
  height:500px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color:white;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size:20px;
}

.result_title{
  font-size:29px;
  width:100%;
  padding-top: 40px;
  padding-bottom: 35px;
  padding-left: 20px;
  text-align: left;
}

#bigBox{
  width:100%;
  height:380px;
  text-align: center;
  display:flex;
}

#graph{
  width:45%;
  align-items: center;
  padding-left: 10px;
  padding-top: 40px;;
}

#solution{
  width:60%;
  margin-left: 30px;
  padding: 30px 20px 40px 20px;
  line-height: 40px;
  font-size:17px;
  text-align: left;
  overflow: auto;
}

#emotion_container{
  display: flex;
  align-items: center;
  }

#emotion_selection{
  width:82%;
  height: 100px;
}

#emotionImage{
  width:130px;
  height:130px;
  margin-top: 10px;
  margin-left: 20px;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7 {
  width: 125px;
  height:125px;
  margin-left: auto; /* 이미지를 오른쪽으로 밀어넣음 */
  margin-right: 0px;
  margin-top: 25px;
}