<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/find_password.css">
  <title>비밀번호 찾기 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

   <!--아이콘 적용-->
   <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="box">
    <!-- 로고 -->
    <div id="logo">
      <img src="images/로고.png" alt="로고" style="width:450px; margin-top: 95px;">
    </div>
  
    <!-- input box -->
    <div id="input_box">
      <div class="box_title"><b>Find Password</b></div>
      <div id="container">
        <form action="">
          <div id="input">
            <h4>Id</h4>
            <input id="id" type="text" name="id" required/>
            <h4>Email</h4>
            <input id="email" type="text" name="email" required/>
          </div>
        
        
          <div id="btn">
            <button class="button" id="find_id_button" type="submit">패스워드 찾기</button>
            <button class="button" id="register_button" type="button" onclick="location.href='register.html'">회원가입</button>
          </div>
        </form>
      </div>
    </div>
  
  </div>

</body>
</html>
