<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/find_password_success.css">
  <title>비밀번호 찾기(성공) 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

   <!--아이콘 적용-->
   <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="box">
    <!-- 로고 -->
    <div id="logo">
      <img src="images/로고.png" alt="로고" style="width:450px; margin-top: 95px;">
    </div>

    <!-- input box -->
    <div id="input_box">
      <div class="box_title"><b>Find Password</b></div>
      <div id="container">
        <h4>이메일에서 Password를 확인하세요</h4>

        <div id="btn">
          <button class="button" id="login_btn" onclick="location.href='login.html'">로그인</button>
        </div>
      </div>
    </div>

</div>

</body>
</html>
