<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <title>홈 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

   <!--아이콘 적용-->
   <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>

   <!-- calendar css  -->
   <style>
    .calendar {
      text-align: center;
      width:800px;
      font-family: "IBM Plex Sans KR", sans-serif;
      font-size:20px;
      padding-left:20px;
    }
    .calendar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 25px;
      padding-left: 150px;
      padding-right: 150px;
      font-size:20px;
    }
    .calBtn{
      border:none;
      width: 50px;
      font-size: 19px;
      background-color:white;
    }
    .calendar-body {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin-bottom: 40px;
    }
    .day {
      padding: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid white;
      background-color: #ffe3cd76;
    }
    .sunday{
      color: red;
    }
    .saturday{
      color: blue;
    }
  
    .day:nth-child(7n+1) {
      color: red;
    }
    .day:nth-child(7n) {
      color: blue;
    }
    .day.other-month {
      color: #ccc;
    }
    .today {
      background-color:#fd6f0b76;
    }
    .other-month {
      color: #ccc;
    }
  </style>

</head>

<body>
<!-- 헤더 부분 -->
<div class="title">
  <h1><a href="/login_home" style="text-decoration-line: none; color: #FF6D3F">PSYLOG</a></h1>
  <button class="btn1" id="home_btn" onclick="location.href='/login_home'">홈</button>
  <button class="btn1" id="diary_btn" onclick="location.href='/post/list'">일기장</button>
  <button class="btn1" id="myPage_btn" onclick="location.href='/member/mypage'">마이 페이지</button>
  <button class="btn2" id="writeDiary_btn" onclick="location.href='/post/save'">일기 작성</button>
  <button class="btn2" id="logOut_btn"  onclick="location.href='/logout'" style="margin-right: 40px;">로그아웃</button>
</div>


<div class="box">
  <!-- calendar -->
  <div class="calendar">
    <div class="calendar-header">
      <button class="calBtn" id="prevBtn"><i class="fa-solid fa-chevron-left"></i></button>
      <h2 id="currentMonthYear"></h2>
      <button class="calBtn" id="nextBtn"><i class="fa-solid fa-chevron-right"></i></button>
    </div>
    <div id="calendarBody" class="calendar-body"></div>
  </div>

  <!-- new log -->
  <div class="newlog">
    <h3>최근 일기</h3>
    <div id="container">
      <th:block th:each="post, stat : ${postList}">
        <div th:if="${stat.count <= 5}" class="log">
          <div class="container" style="line-height:25px;">
            <a style="text-decoration-line: none; color: black" th:href="@{|/post/${post.postNo}|}">
              <span id="log_title" th:text="${post.postTitle}"></span>
            </a><br><br>
            <span id="log_date" th:text="${post.updateDate}"></span>
          </div>
          <th:block th:if="${post.postEmotion == 'happy'}">
            <img id="img1" src="/images/기쁨이.png">
          </th:block>
          <th:block th:if="${post.postEmotion == 'excited'}">
            <img id="img2" src="/images/설렘이.png">
          </th:block>
          <th:block th:if="${post.postEmotion == 'sad'}">
            <img id="img3" src="/images/슬픔이.png">
          </th:block>
          <th:block th:if="${post.postEmotion == 'disappointed'}">
            <img id="img4" src="/images/좌절이.png">
          </th:block>
          <th:block th:if="${post.postEmotion == 'angry'}">
            <img id="img5" src="/images/화남이.png">
          </th:block>
          <th:block th:if="${post.postEmotion == 'afraid'}">
            <img id="img6" src="/images/불안이.png">
          </th:block>
        </div>
        <hr>
      </th:block>
    </div>
  </div>


<!-- calendar js -->
<script>
  const prevBtn = document.getElementById("prevBtn");
  const nextBtn = document.getElementById("nextBtn");
  const currentMonthYear = document.getElementById("currentMonthYear");
  const calendarBody = document.getElementById("calendarBody");

  let currentDate = new Date();
  let currentMonth = currentDate.getMonth();
  let currentYear = currentDate.getFullYear();

  function generateCalendar(month, year) {
    currentMonthYear.textContent = `${year}년 ${month + 1}월`;

    let startDate = new Date(year, month, 1);
    let endDate = new Date(year, month + 1, 0);

    calendarBody.innerHTML = "";

    // Displaying the days of the week
    const daysOfWeek = ["일", "월", "화", "수", "목", "금", "토"];
    for (let day of daysOfWeek) {
      const dayElement = document.createElement("div");
      dayElement.classList.add("day");
      if (day === "일") {
        dayElement.classList.add("sunday");
      } else if (day === "토") {
        dayElement.classList.add("saturday");
      }
      dayElement.textContent = day;
      calendarBody.appendChild(dayElement);
    }

    // Filling in previous month's days if necessary
    for (let i = startDate.getDay(); i > 0; i--) {
      const dayElement = document.createElement("div");
      dayElement.classList.add("day", "other-month");
      dayElement.textContent = new Date(year, month, -i+1).getDate();
      calendarBody.appendChild(dayElement);
    }

    // Displaying the days of the current month
    for (let i = 1; i <= endDate.getDate(); i++) {
      const dayElement = document.createElement("div");
      dayElement.classList.add("day");
      if (year === currentDate.getFullYear() && month === currentDate.getMonth() && i === currentDate.getDate()) {
        dayElement.classList.add("today");
      }
      dayElement.textContent = i;

      // 이미지를 삽입할 img 태그 생성
      const imgElement = document.createElement("img");

      // 오늘 이후의 날짜인 경우 투명 배경 이미지 적용, 그렇지 않은 경우 설렘이.png 이미지 적용
      if (new Date(year, month, i) > currentDate) {
        imgElement.src = 'images/투명배경.png';
      } else {
        imgElement.src = 'images/설렘이.png';
      }

      // 이미지 크기 설정
      imgElement.style.marginTop = "0px";
      imgElement.style.marginBottom = "-20px";
      imgElement.style.width = "100%"; // 원하는 너비로 설정
      imgElement.style.height = "auto"; // 높이를 자동으로 설정하여 비율을 유지

      // 이미지를 추가한 뒤, 해당 날짜 요소에 추가
      dayElement.appendChild(imgElement);
      calendarBody.appendChild(dayElement);
    }


    // Filling in next month's days if necessary
    for (let i = 1; i < 7 - endDate.getDay(); i++) {
      const dayElement = document.createElement("div");
      dayElement.classList.add("day", "other-month");
      dayElement.textContent = new Date(year, month + 1, i).getDate();
      calendarBody.appendChild(dayElement);
    }
  }

  generateCalendar(currentMonth, currentYear);

  prevBtn.addEventListener("click", () => {
    currentMonth--;
    if (currentMonth === -1) {
      currentYear--;
      currentMonth = 11;
    }
    generateCalendar(currentMonth, currentYear);
  });

  nextBtn.addEventListener("click", () => {
    currentMonth++;
    if (currentMonth === 12) {
      currentYear++;
      currentMonth = 0;
    }
    generateCalendar(currentMonth, currentYear);
  });
</script>




</body>
</html>