<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>로그인 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


   <!--아이콘 적용-->
   <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="title">
  <h1><a href="/" style="text-decoration-line: none; color: #FF6D3F">PSYLOG</a></h1>
</div>

<div class="box">

  <!-- input box -->
  <div id="input_box">
    <div class="box_title"><b>Login</b></div>
    <div id="container">
      <form action="/member/login" method ="post">
        
          <h4>Id</h4>
          <input id="id" type="text" name="memberId" required />
          <h4>Password</h4>
          <div class="show">
            <input id="password" type="password" name="memberPassword" required/>
            <i class="fa fa-eye fa-lg" onclick="togglePasswordVisibility()"></i>
          </div>
          <!-- 비밀번호 보이기 js -->
          <script>
              function togglePasswordVisibility() {
                  var passwordInput = document.getElementById('password');
                  var eyeIcon = document.querySelector('.show i');
          
                  if (passwordInput.type === 'password') {
                      passwordInput.type = 'text';
                      eyeIcon.classList.remove('fa-eye');
                      eyeIcon.classList.add('fa-eye-slash');
                  } else {
                      passwordInput.type = 'password';
                      eyeIcon.classList.remove('fa-eye-slash');
                      eyeIcon.classList.add('fa-eye');
                  }
              }
          </script>
      
        <div id="find">
          <a href="find_id.html">아이디 찾기</a> /
          <a href="find_password.html">비밀번호 찾기</a>
        </div>
      
        <div id="btn">
          <button class="button" id="login_button" type="submit" >로그인</button>
          <button class="button" id="register_button" type="button" onclick="location.href='/member/register'">회원가입</button>
        </div>
      </form>
    </div>
  </div>

  <!-- 로고 -->
  <div id="logo">
    <img src="/images/로고.png" alt="로고" style="width:400px;">
  </div>

</div>


</body>
</html>