<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/my_diary.css">
  <title>내 일기장 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


   <!--아이콘 적용-->
   <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- 헤더 부분 -->
<div class="title">
  <h1><a href="/login_home" style="text-decoration-line: none; color: #FF6D3F">PSYLOG</a></h1>
  <button class="btn1" id="home_btn" onclick="location.href='/login_home'">홈</button>
  <button class="btn1" id="diary_btn" onclick="location.href='/post/list'">일기장</button>
  <button class="btn1" id="myPage_btn" onclick="location.href='/member/mypage'">마이 페이지</button>
  <button class="btn2" id="writeDiary_btn" onclick="location.href='/post/save'">일기 작성</button>
  <button class="btn2" id="logOut_btn"  onclick="location.href='/logout'" style="margin-right: 40px;">로그아웃</button>
</div>


  <h3>나의 일기</h3>
  <div id="container">
    <div class="content">
      <th:block th:each="post : ${postList}">
      <div class="log">
          <a style="text-decoration-line: none; color: black" th:href="@{|/post/${post.postNo}|}">
            <span id="log_title"  th:text="${post.postTitle}"></span>
          </a><br><br>
          <span id="log_date" th:text="${post.updateDate}"></span>
          <th:block th:if="${post.postEmotion == 'happy'}">
            <img id="img1" src="/images/기쁨이.png" style="float: right; margin-left: 5px; margin-top:-60px;">
          </th:block>
          <th:block th:if="${post.postEmotion == 'excited'}">
            <img id="img2" src="/images/설렘이.png" style="float: right; margin-left: 5px; margin-top:-60px;">
          </th:block>
          <th:block th:if="${post.postEmotion == 'sad'}">
            <img id="img3" src="/images/슬픔이.png" style="float: right; margin-left: 5px; margin-top:-60px;">
          </th:block>
          <th:block th:if="${post.postEmotion == 'disappointed'}">
            <img id="img4" src="/images/좌절이.png" style="float: right; margin-left: 5px; margin-top:-60px;">
          </th:block>
          <th:block th:if="${post.postEmotion == 'angry'}">
            <img id="img5" src="/images/화남이.png" style="float: right; margin-left: 5px; margin-top:-60px;">
          </th:block>
          <th:block th:if="${post.postEmotion == 'afraid'}">
            <img id="img6" src="/images/불안이.png" style="float: right; margin-left: 5px; margin-top:-60px;">
          </th:block>
          <th:block th:if="${post.postEmotion == 'normal'}">
              <img id="img7" src="/images/보통이.png" style="float: right; margin-left: 5px; margin-top:-60px;">
          </th:block>
          <hr>
      </div>
      </th:block>
    </div>
  </div>



    
  </div>
</body>
</html>