<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/my_page.css">
  <title>마이 페이지 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

   <!--아이콘 적용-->
   <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- 헤더 부분 -->
<div class="title">
  <h1>PSYLOG</h1>
  <button class="button" id="logout_btn" onclick="location.href='/logout'">로그아웃 <i class="fa-solid fa-right-from-bracket"></i></button>
</div>
<div class="header_blue"></div>

<!-- 메뉴바 -->
<div class="menu">
  <a href="home.html">홈 <i class="fa-solid fa-house"></i></a>
  <a href="write.html">일기 작성 <i class="fa-solid fa-pen"></i></a>
  <a href="my_diary.html">My 일기장 <i class="fa-solid fa-list-ul"></i></a>
</div>

<!-- 마이 페이지 메뉴 -->
<div class="my_page">
  <div id="my_page_title"><b>My Page</b></div>
  <div id="mem_info_change" class="my_page_menu">회원 정보 수정<i class="fa-solid fa-chevron-right" style="float: right;"></i></div>
  <div class="my_page_menu">회원 탈퇴<i class="fa-solid fa-chevron-right" style="float: right;"></i></div>
  <div class="my_page_menu">공지사항 & 알림<i class="fa-solid fa-chevron-right" style="float: right;"></i></div>
</div>

<script>
  // div를 클릭하면 다른 페이지로 이동하는 함수
  document.getElementById("mem_info_change").addEventListener("click", function() {
      window.location.href = "/member/mypage/edit";
  });
</script>

</body>
</html>