<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/register.css">
  <title>회원가입 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

   <!--아이콘 적용-->
   <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>
</head>

<body>
  
  <div class="box">
    <!-- 로고 -->
    <div id="logo">
      <img src="/images/로고.png" alt="로고" style="width:450px; margin-top: 95px;">
    </div>
  
    <!-- input box -->
    <div id="input_box">
      <div class="box_title"><b>Register</b></div>
      <div id="container">
        <form action="/member/register" method="post">
          <h4>Nickname</h4>
          <input id="nickname" type="text" name="memberNickname" required />

          <h4>Id<span></span></h4>
          <div class="check">
            <input id="id" type="text" name="memberId" required />
          </div>

          <h4>Password</h4>
          <div class="show">
            <input id="password" type="password" name="memberPassword" required/>
            <i class="fa fa-eye fa-lg" onclick="togglePasswordVisibility()"></i>
          </div>
          <!-- 임시 js -->
          <script>
              function togglePasswordVisibility() {
                  var passwordInput = document.getElementById('password');
                  var eyeIcon = document.querySelector('.show i');
          
                  if (passwordInput.type === 'password') {
                      passwordInput.type = 'text';
                      eyeIcon.classList.remove('fa-eye');
                      eyeIcon.classList.add('fa-eye-slash');
                  } else {
                      passwordInput.type = 'password';
                      eyeIcon.classList.remove('fa-eye-slash');
                      eyeIcon.classList.add('fa-eye');
                  }
              }
          </script>

          <h4>Confirm Password</h4>
          <input id="confirm_password" type="password" name="confirmPassword" required/>
        
          <h4>Email</h4>
          <input id="email" type="text" name="memberEmail" required/>
        
      
          <div id="btn">
            <button class="button" id="register_button" type="submit">가입하기</button>
          </div>

        </form>
      </div>
    </div>
  
  </div>


</body>
</html>


