<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/start.css">
  <title>시작 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

   <!--아이콘 적용-->
   <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="title">
  <h1>PSYLOG</h1>
  <button class="button" id="login_btn" onclick="location.href='/member/login'">로그인 <i class="fa-solid fa-right-to-bracket"></i></button>
  <button class="button" id="register_btn" onclick="location.href='/member/register'">회원가입 <i class="fa-solid fa-user"></i></button>
</div>
<div class="header_blue"></div>
<div class="header_black">Presented by AtoB</div>

<div class="introduction">
  <img id="img" src="/images/전체캐릭터.png" alt="전체 캐릭터">
  <div id="explain">
    PSYLOG는 여러분의 소중한 일상을 기록하며 이에 대한 감정분석과 솔루션을 제공하는 일기장이예요<br><br>
    기쁨이, 설렘이, 화남이, 불안이, 슬픔이, 좌절이 6캐릭터와 함께<br><br>
    여러분의 마음이 들려주는 솔직한 이야기에 귀 기울여보고 함께 행복한 일상을 그려나가요! 
  </div>
</div>


</body>
</html>