<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/writingResult.css">
  <title>작성한 글 및 분석 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

   <!--아이콘 적용-->
  <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
<!-- 헤더 부분 -->
<div class="title">
  <h1><a href="/login_home" style="text-decoration-line: none; color: #FF6D3F">PSYLOG</a></h1>
  <button class="btn1" id="home_btn" onclick="location.href='/login_home'">홈</button>
  <button class="btn1" id="diary_btn" onclick="location.href='/post/list'">일기장</button>
  <button class="btn1" id="myPage_btn" onclick="location.href='/member/mypage'">마이 페이지</button>
  <button class="btn2" id="logOut_btn"  onclick="location.href='/logout'" style="margin-right: 40px;">로그아웃</button>
</div>


<!-- 일기 작성된 칸 -->
<div class="diary-form">

  <div class="data" id="date" name="date" th:text="${post.updateDate}" style="color: #818181" readonly></div>
  <hr>

  <div class="data" th:text="${post.postTitle}" id="diary_title" name="diary_title" style="font-size: 25px;" readonly></div>
  <hr>

  <div id="emotion_container">
    <div id="emotion_selection">
      <select id="emotion" name="emotion" required onchange="displayImage()" disabled style="font-size: 20px; color:black;">
        <option value="">== 오늘의 기분을 선택하세요 ==</option>
        <option value="happy">신나고 기뻐요😄</option>
        <option value="excited">두근거리고 설레요😍</option>
        <option value="sad">슬프고 우울해요😭</option>
        <option value="disappointed">좌절... 되는게 없어요😞</option>
        <option value="angry">짜증나고 화가나요😡</option>
        <option value="afraid">불안하고 두려워요😱</option>
        <option value="normal">기쁘지도 슬프지도 않아요😑</option>
      </select><br>
    </div>
    <img id="emotionImage" src="/images/투명배경.png">
  </div>
  <hr>


  <!--  <div class="data" id="content" th:text="${post.postContent}" name="content" readonly></div>-->
  <textarea id="content" th:text="${post.postContent}" name="content" readonly></textarea>

  <hr>
  <div style="height:100px;">
    <button onclick="" class="change_btn" id="delete_btn" style="width:100px;"><b>삭제하기</b></button>
    <button onclick="updateReq()" class="change_btn" id="fix_btn" style="width:100px; margin-right:15px;"><b>수정하기</b></button>
  </div>
</div>

<!-- 분석 결과 -->
<div class="resultBox">
  <div class="result_title">
    <b><span>내 친구 </span>
      <span style="color:#FF6D3F" th:text="${member.friendNickname}"></span>
      의 한 마디 </b><i class="fa-solid fa-pen-to-square"></i>
  </div>

   
  <div id="bigBox">
    <!-- 감정 분석 그래프 -->
    <div id="graph">
      <canvas id="pie-chart" width="20000" height="1450"></canvas>
    </div>
    <!-- 공감,조언 -->
    <div id="solution" th:text="${post.aiAnswer}"></div>
  </div> 

</div>

<script th:incline="javascript">
  const updateReq = () => {
    console.log("수정 요청");
    const id = [[${post.postNo}]];
    location.href = "/post/update/" + id;
  }

  const negative = [[${post.negative}]];
  const positive = [[${post.positive}]];
  const neutral = [[${post.neutral}]];

  new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["부정", "긍정", "중립"],
      datasets: [{
        label: "Sentiment (percent)",
        backgroundColor: ["#a7a8a8", "#FF6D3F", "#ffc5b6"],
        data: [negative, positive, neutral]
      }]
    },
    options: {
      title: {
        display: true,
        text: '나의 일기에 담긴 감정은??'
      }
    }
  });

  //선택한 감정 캐릭터를 보여주는 함수
  function displayImage() {
    var selectBox = document.getElementById("emotion");
    var selectedValue = selectBox.value;
    var imageElement = document.getElementById("emotionImage");
    if (selectedValue === "happy") {
      imageElement.src = "/images/기쁨이.png";
    } else if (selectedValue === "excited") {
      imageElement.src = "/images/설렘이.png";
    } else if (selectedValue === "sad") {
      imageElement.src = "/images/슬픔이.png";
    } else if (selectedValue === "disappointed") {
      imageElement.src = "/images/좌절이.png";
    } else if (selectedValue === "angry") {
      imageElement.src = "/images/화남이.png";
    } else if (selectedValue === "afraid") {
      imageElement.src = "/images/불안이.png";
    } else if (selectedValue === "normal") {
      imageElement.src = "/images/보통이.png";
    } else {
      // 투명 이미지(감정 선택을 하지 않은 경우)
      imageElement.src = "images/투명배경.png";
    }
  }

</script>

</body>
</html>