<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/writing.css">
  <title>작성한 글 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

   <!--아이콘 적용-->
   <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- 헤더 부분 -->
<div class="title">
  <h1>PSYLOG</h1>
  <button class="button" id="logout_btn" onclick="location.href='/logout'">로그아웃 <i class="fa-solid fa-right-from-bracket"></i></button>
  <button class="button" id="mypage_btn" onclick="location.href='/member/mypage'">My Page <i class="fa-solid fa-user"></i></button>
</div>
<div class="header_blue"></div>

<!-- 메뉴바 -->
<div class="menu">
  <a href="/login_home">홈 <i class="fa-solid fa-house"></i></a>
  <a href="/post/save">일기 작성 <i class="fa-solid fa-pen"></i></a>
  <a href="/post/list">My 일기장 <i class="fa-solid fa-list-ul"></i></a>
</div>

<!-- 일기 작성된 칸 -->
<div class="diary-form">

    날짜:<br>
    <div class="data" id="date" name="date" th:text="${post.postDate}" readonly></div>

    기분:<br>
    <th:block th:if="${post.postEmotion == 'happy'}">
        <img id="img1" src="/images/기쁨이.png">
    </th:block>
    <th:block th:if="${post.postEmotion == 'excited'}">
        <img id="img2" src="/images/설렘이.png">
    </th:block>
    <th:block th:if="${post.postEmotion == 'sad'}">
        <img id="img3" src="/images/슬픔이.png">
    </th:block>
    <th:block th:if="${post.postEmotion == 'disappointed'}">
        <img id="img4" src="/images/좌절이.png">
    </th:block>
    <th:block th:if="${post.postEmotion == 'angry'}">
        <img id="img5" src="/images/화남이.png">
    </th:block>
    <th:block th:if="${post.postEmotion == 'afraid'}">
        <img id="img6" src="/images/불안이.png">
    </th:block>

    일기 제목:
    <div class="data" th:text="${post.postTitle}" id="diary_title" name="diary_title" style="margin-bottom: 30px;" readonly></div>

    <label for="content">일기 내용:</label>
    <textarea id="content" th:text="${post.postContent}" name="content" readonly></textarea>

    <a th:href="@{|/post/${post.postNo}|}"><button id="diary_btn" style="width:100px;"><b>수정하기</b></button></a>
    <button id="diary_btn" style="width:170px; margin-right: 10px;"><i class="fa-solid fa-angles-right"></i>  <b>감정 분석 보러가기</b></button>

</div>

</body>
</html>