<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/writingResult.css">
  <title>작성한 글 및 분석 화면</title>

  <!--폰트 적용-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

   <!--아이콘 적용-->
   <script src="https://kit.fontawesome.com/a1969e7b61.js" crossorigin="anonymous"></script>
</head>

<body>
<!-- 헤더 부분 -->
<div class="title">
  <h1>PSYLOG</h1>
  <button class="btn1" id="home_btn" onclick="location.href='home.html'">홈</button>
  <button class="btn1" id="diary_btn" onclick="location.href='my_diary.html'">일기장</button>
  <button class="btn1" id="myPage_btn" onclick="location.href='my_page.html'">마이 페이지</button>
  <button class="btn2" id="logOut_btn"  onclick="location.href='start.html'" style="margin-right: 40px;">로그아웃</button>
</div>


<!-- 일기 작성된 칸 -->
<div class="diary-form">
  <label for="date">날짜:</label>
  <input type="date" id="date" name="date" required readonly>
  <hr>

  <label for="diary_title">일기 제목:</label>
  <input type="text" id="diary_title" name="diary_title" required readonly>
  <hr>

  <label for="content">일기 내용:</label>
  <textarea id="content" name="content" readonly></textarea>
  <hr>
  <div>
    <button id="fix_btn" onclick=""><b>수정하기</b></button>
  </div>
</div>

<!-- 분석 결과 -->
<div class="resultBox">
  <div class="result_title">
    <b><span style="color:#FF6D3F">내 친구 쿠로미</span>의 한 마디 </b><i class="fa-solid fa-pen-to-square"></i>
  </div>
   
  <div id="bigBox">
    <!-- 감정 분석 그래프 -->
    <div id="graph">
      <img src="images/그래프.png" alt="감정 분석 그래프" style="width:90%; ">
    </div>
    <!-- 공감,조언 -->
    <div id="solution">
      중간고사를 못 보았다니, 정말 힘들겠네요. 최선을 다하고도 그렇다면 더욱 속상할 터인데요. 
      하지만 그런 마음에 짓눌리지 마세요. 모든 사람은 때때로 실패하고 어려움을 겪습니다. 그것이 성장의 기회가 될 수 있어요. 
      지금은 슬플 수 있겠지만, 이 경험을 통해 무엇을 배우고 다음에는 더 나은 결과를 얻을 수 있을 거예요. 
      도움이 필요하다면 주변 사람들에게 도움을 요청하고, 스트레스 해소를 위한 방법을 찾아보세요. 
      함께 고난을 이겨내는 과정에서 당신의 성장과 강함을 발견할 수 있을 거예요. 함께 응원할게요.
    </div>
  </div> 

</div>


</body>
</html>